<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/allproducts-css :: head"/>
<!-- NAVBAR
================================================== -->
<body>
<div th:replace="fragments/menu :: menu" />

<div class="container-wrapper">
    <div class="container">

        <div class="page-header">
            <h1>Administrator page</h1>

            <p class="lead">This is the administrator page!</p>
        </div>

        <h3>
            <a th:href="@{'/admin/productInventory/'}">Product Inventory</a>
        </h3>

        <p>Here you can view, check and modify the product inventory!</p>

        <footer th:replace="fragments/footer :: footer" />
    </div>


</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
