<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/allproducts-css :: head"/>
<!-- NAVBAR
================================================== -->
<body>
<div th:replace="fragments/menu :: menu"/>

<div class="container-wrapper">
    <div class="container">

        <div class="page-header">
            <h1>Edit Product</h1>

            <p class="lead">Please update the product information here:</p>
        </div>

        <form action="#" th:action="@{/admin/productInventory/editProduct}" method="post" th:object="${productInstance}"
              enctype="multipart/form-data">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input type="text" class="form-control" th:field="*{name}"/>
            </div>

            <div class="form-group">
                <label>Category</label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{category}" th:value="instrument"/>&nbsp;Instrument
                </label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{category}" th:value="record"/>&nbsp;Record
                </label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{category}" th:value="accessory"/>&nbsp;Accessory
                </label>
            </div>

            <div class="form-group">
                <label th:for="description">Description</label>
                <textarea th:field="*{description}" class="form-control"/>
            </div>

            <div class="form-group">
                <label th:for="price">Price</label>
                <input type="text" th:field="*{price}" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Condition</label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{condition}" th:value="new"/>&nbsp;New
                </label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{condition}" th:value="used"/>&nbsp;Used
                </label>
            </div>

            <div class="form-group">
                <label>Status</label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{status}" th:value="active"/>&nbsp;Active
                </label>
                <label class="checkbox-inline">
                    <input type="radio" th:field="*{status}" th:value="inactive"/>&nbsp;Inactive
                </label>
            </div>

            <div class="form-group">
                <label th:for="unitInStock">Unit In Stock</label>
                <input type="text" th:field="*{unitStock}" class="form-control"/>
            </div>

            <div class="form-group">
                <label th:for="manufacturer">Manufacturer</label>
                <input type="text" th:field="*{manufacturer}" class="form-control"/>
            </div>

            <div class="form-group">
                <label th:for="image" class="control-label">Upload picture</label>
                <input type="file" th:field="*{image}" class="form-input-large"/>
            </div>

            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary"/>
                <a th:href="@{'/admin/productInventory'}" class="btn btn-default">Cancel</a>
            </div>

            <!--
            <div class="form-group">
                <label class="control-label" for="productImage">Upload Picture</label>
                <form:input id="productImage" path="productImage" type="file" class="form:input-large" />
            </div> -->

        </form>


        <footer th:replace="fragments/footer :: footer"/>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
